<!-- -*- mode: XML -*- -->
<launch>

  <!-- vesc, lidar, tf -->
  <include file="$(find racecar)/launch/teleop.launch">
    
  </include>
 
    <!-- planner framework -->
  <include file="$(find f1tenth_simulator)/launch/pathing.launch">
  </include>

    <!-- slam -->
  <include file="$(find slam_toolbox)/launch/online_sync.launch">
  </include>
  
  
  <include file="$(find velma_nav)/move_base.launch"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />
      
</launch>
